{% extends 'auth/base.html' %}

{% set Title = 'Reset Password Request' %}
{% set auth_type = 'Reset Password' %}

{% block container %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="auth-pre-container-data">
            <div class="auth-container-data">
                <input id="email" type="email" name="email"
                       class="auth-container-data-input"
                       autocomplete="email" placeholder="E-mail" value="">
                <span class="auth-container-data-error">
				    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="auth-submit-button">
            <button type="submit" class="auth-button auth-button-2">{{ 'Send Link' }}</button>
        </div>
        <div class="restore-password-container">
            <div class="restore-password">
                <a class="restore-password-link" href="/auth/login/">{{ 'Don`t need to reset? Log in!' }}</a>
            </div>
        </div>
    </form>
{% endblock %}